@page "/todo"  
  
<h3>Todo</h3>  
<input @bind="newTodoItem" type="Enter a Todo">  
<button type="button" @onclick="Save">Save</button>  
  
@if (todoList.Count > 0)  
{  
  <ul>  
    @foreach (TodoItem todo in todoList)  
    {  
      <li>  
        <input type="checkbox" @bind="todo.IsComplete" />  
        <span style="@(todo.IsComplete ? "text-decoration: line-through" : "")">@todo.Title</span>    
      </li>  
    }  
  </ul>  
}  
  
@code {  
  private List<TodoItem> todoList = new List<TodoItem>();  
  private string newTodoItem { get; set; }  
  
  private void Save()  
  {  
    if (!string.IsNullOrWhiteSpace(newTodoItem))  
    {  
      todoList.Add(new TodoItem(newTodoItem));  
      newTodoItem = string.Empty;  
    }  
  }  
}  